
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color:#E3EEEF;
    padding-top: .25em;
    padding-bottom: .25em;
}

body {
    background-color:#101010;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

h1 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    letter-spacing: -3px;
}

h2 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -2px;
}

h3 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
}

h4 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
}

p {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

a {
    color: white;
    transition: color .5s;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: -.5px;
}

a:hover {
    color: #9e94ff;
}

a:visited {
    color: white;
    transition: color .5s;
}

a:visited:hover {
    color: #9e94ff;
}

ul,ol{
    margin-left: 30px;
}

li {
    line-height: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

aside {
    float: right;
    width: 45%;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.side-imgs img {
    padding-bottom: 20px;
    margin: 20px;
}

button {
    background-color: transparent;
    border: none;
}

#blog-subscription-form {
    width: fit-content;
    background-color: #302b2b;
    padding: 10px;
}

.article-date {
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 400;
    color: #E3EEEF;
    line-height: 10px;
    letter-spacing: -1px;
}

.article-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.article-flex article {
    width: 33%;
}

/* Header Navi :3333 */

header {
    background-color: #161616;
    border-style: double;
    border-radius: 20px;
    border-color: white;
    position: sticky;
    top: 20px;
}

#main-menu button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 40px;
    cursor: pointer;
    line-height: 30px;
}

header menu li{
    list-style: none;
}

header nav menu{
    justify-content: right;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#main-menu {
    display: flex;
    justify-content: right;
}

header nav menu.dropdown {
    display: none;
}

header nav .dropdown-trigger:hover menu.dropdown {
    display: block;
    position: absolute;
    color: white;
    background-color:#161616;
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    border-style: double;
    border-color: white;
    align-items: center;
}

/* Index Navi :OOOO */

#index-menu button{
    background-color: transparent;
    border: none;
    margin: 0px;
    color: white;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-kerning: -4px;
    line-height: 10px;
}

nav menu li{
    list-style: none;
}

nav menu.dropdown {
    display: none;
}

nav .dropdown-trigger:hover menu.dropdown {
    display: block;
    color: white;
    width: 10em;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    padding-bottom: 20px;
}

/* Footer Navi :>>>> */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    margin: 0;
    gap: 0;
    padding: 0;
}

footer menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsiveness */

@media (max-width: 850px) {
    main {
        max-width: 80%;
    }
    nav {
        padding: 10%;
    }
}

#mobile-menu-button {
    display: none;
}

@media (max-width: 1024px) {
    #mobile-menu-button {
        display: block;
    }
    #main-menu {
        display: none;
    }
}