
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color:#E3EEEF;
    padding-top: .25em;
    padding-bottom: .25em;
}

body {
    background-color:#101010;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

h1 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    letter-spacing: -3px;
}

h2 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -2px;
}

h3 {
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
}

h4 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.5px;
}

p {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

a {
    color: white;
    transition: color .5s;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: -.5px;
}

a:hover {
    color: #9e94ff;
}

a:visited {
    color: white;
    transition: color .5s;
}

a:visited:hover {
    color: #9e94ff;
}

ul,ol{
    margin-left: 30px;
}

li {
    line-height: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

aside {
    float: right;
    width: 45%;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.side-imgs img {
    padding-bottom: 20px;
    margin: 20px;
}

button {
    background-color: transparent;
    border: none;
}

#blog-subscription-form {
    width: fit-content;
    background-color: #302b2b;
    padding: 10px;
}

.article-date {
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 400;
    color: #E3EEEF;
    line-height: 10px;
    letter-spacing: -1px;
}

.article-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.article-flex article {
    width: 33%;
}

input {
    border: none;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border-style: double;
}

/* Comm Organizers */

.comm-page {
    display: flex;
    justify-content: space-between;
    width: 48%;
    padding: 10px;
}

#comm-section {
    justify-content: left;
}

/* Preview Thumbs */

#preview-thumbs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

#wide-big-preview-thumb {
    grid-column: 1 / span 2; 
    grid-row: 1 / span 2;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.overlay:hover {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header Navi :3333 */

header {
    background-color: #161616;
    border-style: double;
    border-radius: 20px;
    border-color: white;
    position: sticky;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 100px;
}

#main-menu button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 30px;
    cursor: pointer;
    line-height: 30px;
}

header menu li{
    list-style: none;
}

header nav div {
    display: flex;
    justify-content: center;
    align-items: center;    
}

header nav menu {
    justify-content: right;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#main-menu {
    display: flex;
    justify-content: right;
}

header nav menu.dropdown {
    display: none;
}

header nav .dropdown-trigger:hover menu.dropdown {
    display: block;
    position: absolute;
    color: white;
    background-color:#161616;
    margin: 0px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    border-style: double;
    border-color: white;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
}

.search button {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

/* Mobile Header Navi :PPP */

#mobile-nav {
    display: none;
}

#mobile-nav button {
    background-color: transparent;
    border: 0;
}

#overlay-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    display: none;
}

#overlay-menu {
    background-color: #101010;
    width: 70%;
    border-radius: 20px;
    margin: 80px auto;
    text-align: center;
    padding: 50px;
    position: relative;
    border-style: double;
}

#overlay-menu menu {
    padding-left: 0;
}

#overlay-menu menu li a {
    font-size: 28px;
    margin-block: 10px;
    display: inline-block;
}

#close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Index Navi :OOOO */

#index-menu button{
    background-color: transparent;
    border: none;
    margin: 0px;
    color: white;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-kerning: -4px;
    line-height: 10px;
}

nav menu li{
    list-style: none;
}

nav menu.dropdown {
    display: none;
}

nav .dropdown-trigger:hover menu.dropdown {
    display: block;
    color: white;
    width: 10em;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    padding-bottom: 20px;
}

/* Footer Navi :>>>> */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    margin: 0;
    gap: 0;
    padding: 0;
}

footer menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsiveness */

@media (max-width: 1250px) {
    main {
        max-width: 80%;
    }
    nav {
        padding: 10%;
    }
    #main-menu {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
}